body {
    background-color: #212529;
    color:white;
    font-weight: 400;
    line-height: 1.5;
}

nav {
    color:#212529
}



#giphy {
    border:1px solid red;
    height: 40vh;
    width:100vw;
    overflow: scroll;
}

#giphy-container {
    border:2px solid blue;
    height: inherit;
    width: inherit;
}

#giphy-container img{
    border:2px solid pink;
    margin-right:3em;
    padding: 0;
    display: inline-block;
    height: 20em;
    width:20em;
}

#logo {

    display: inline-block;
    padding:0;
    height:7em;
    position: absolute;
    margin:4em;
    top:-12%;
    left:-4.9em;

  
}

.header {

   margin-top:3em;
}


#tweetsComponent {
    height:25em;
    overflow: scroll;
    font-weight: 200;
    line-height: 1.0;
}


.tweets {
    margin: 1.5em;
    color:white;
}

.tweetsB {
    overflow-y: scroll
}

.youtubeB {
    border: 1px solid white;
    height:30em;
    overflow-y: scroll;
    overflow-x: scroll;
}