body {
    background-color: #212529;
    color:white;
    font-weight: 400;
    line-height: 1.5;
}



#giphyBlockquote {
    display: inline-block;
}

#newsComponent {
    height:25em;
    overflow: scroll;
    font-weight: 200;
    line-height: 1.0;
}




#tweetsComponent {
    height:25em;
    overflow: scroll;
    font-weight: 200;
    line-height: 1.0;
}

#giphyComponent {
    max-height: 25em;
 
  overflow-x: hidden;
  overflow-y: hidden

}



#giphyComponent img{
    height:10.3em;
    width:10.3em;
    margin:0.5em
    
}

