.tweets-container {
    height:41em;
    width: 100vw;
    border:1px solid pink;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.tweets-container-2 {
    height:41em;
    width: 100vw;
    border:1px solid pink;
    overflow: scroll;
    
}

.tweets {
    margin:1em;
    padding:1em;
}

.tweetDate {
    float: right;
}